*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json

# Additional entries
.idea/
*.log
*.keystore
*.bak
*.swp
*.tmp
*.orig
*.class
*.jar
*.war
.settings/
.gradle/
build/
bin/
gen/
out/
tmp/
